<!DOCTYPE html>
<html lang="en">
    <title>ToDoList</title>
    <meta name="title" content="ToDoList">
    <meta name="description" content="ToDoList Project for Hooshmand">
    <meta name="keywords" content="Django,Python">
    <head>
        {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous"> {% endcomment %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <style>
        .full-btn {
            width: 100%;
          }
        .text-error {
            color: red;
            border: none;
        }
    </style>
    <body>
        <div class="container">
            <div class="header">
                {% block header %}
                    <h1 class="text-center">Welcome to ToDo Project</h1>
                {% endblock header %}
                <a class="btn btn-default full-btn"
                   href="{% url 'index' %}">HomePage</a>
                <br>
                <br>
            </div>
            {% block body %}
            {% endblock body %}
        </div>
    </body>
</html>
