{% extends "base.html" %}
{% block body %}
  {% if user.is_authenticated %}
    <div class="container">
      <h2 class="text-center">Hello, {{ user.username }} !</h2>
      <a class="btn btn-warning full-btn"
         href="{% url 'logout' %}">Logout</a>
    </div>
  {% else %}
    <div class="container">
      <a class="btn btn-warning full-btn" href="{% url 'login' %}">Login</a>
    </div>
    <div class="container">
      <a class="btn btn-primary full-btn"
         href="{% url 'register-view' %}">Register</a>
    </div>
  {% endif %}
  <style>
    .col {
        border-right: 1px dashed #333;
        border-left: 1px dashed #333;
    }
  </style>

  <div class="container">
    <h2>Tasks</h2>

    <div class="container">
      <a class="btn btn-success full-btn" href="{% url 'tasks-view-add' %}">add</a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order By    <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="{% url 'index' %}?ordering=-created_at">Date - Desc</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}?ordering=created_at">Date - Asc</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}?ordering=-priority">Priority - Desc</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}?ordering=priority">Priority - Asc</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" role="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status     <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" href="{% url 'index' %}?status=0">Inactive</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}?status=1">Todo</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}?status=2">In Progress</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}?status=3">Done</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <ul class="list-group">
      <div class="container">
        <li class="list-group-item list-group-item-secondary">
          <div class="row">
            <div class="col-lg-2">Title</div>
            <div class="col-lg-4">Description</div>
            <div class="col-lg-2">Priority</div>
            <div class="col-lg-2">Status</div>
          </div>
        </li>
        {% for task in tasks %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2">{{ task.title }}</div>
              <div class="col-lg-4">{{ task.description }}</div>
              <div class="col-lg-2">{{ task.priority }}</div>
              <div class="col-lg-2 status_color_{{ task.status }}">{{ task.status }}</div>
              <a class="col-lg-2 btn btn-warning edit-btn"
                 href="{% url 'tasks-view' pk=task.id %}">edit</a>
            </div>
          </li>
        {% endfor %}
      </div>
    </ul>
  </div>
{% endblock body %}
