<div class="container">
    <h2>Tasks</h2>
    <ul class="list-group">
        <div class="container">
            <li class="list-group-item" style="background-color: grey; color: white;">
                <div class="row">
                    <div class="col">Title</div>
                    <div class="col">Description</div>
                    <div class="col">Priority</div>
                    <div class="col">Status</div>
                </div>
            </li>
            {% for task in tasks %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ task.title }}</div>
                        <div class="col">{{ task.description }}</div>
                        <div class="col">{{ task.get_priority }}</div>
                        <div class="col">{{ task.get_status }}</div>
                    </div>
                </li>
            {% endfor %}
        </div>
    </ul>
</div>
